<div class="columns">
  <div class="column is-10">
    <h1 class="title is-2 has-text-black discussion-title"><%= @discussion.title %></h1>
    <!-- username -->
    <h3 class="subtitle is-5 has-text-black">by <%= @discussion.user.username %> in <%= link_to @discussion.channel.channel, @discussion.channel %></h3>
    <div class="level">
      <div class="level-left">
        <% if discussion_author(@discussion) || has_role?(:admin) %>
          <div class="buttons">
            <%= link_to 'Edit Discussion', edit_discussion_path(@discussion), class:'button is-primary has-text-black'%>
            <%= link_to 'Delete', discussion_path(@discussion), method: :delete, data: { confirm: "Delete discussion?" }, class:'button is-danger has-text-black' %>
          </div>
        <% end %>
      </div>
    </div>
    <!-- calling markdown on discussion content so markdown is visible -->
    <div class="content"><%= markdown(@discussion.content) %></div>

    <h2 class="subtitle is-5 has-text-black"><%= @discussion.replies.count %> Replies</h2>

    <div id="discussion-replies">
      <!-- renders replies from the _reply.html.erb partial in view/replies folder -->
      <!-- gets our discussion by the discussion i.d. and then
      grabs all the replies on that i.d. -->
      <%= render @discussion.replies %>
    </div>

    <hr />

    <h3 class="subtitle is-3 has-text-black">Leave a reply</h3>
    <% if user_signed_in? %>
      <!-- renders from views/replies/_form.html.erb _partial -->
      <%= render 'replies/form' %>
    <% else %>
    <p class="has-text-white">To reply you need to <%= link_to 'login', new_user_session_path %>. Don't have an account?
      <%= link_to 'Sign up', new_user_registration_path %> for one.</p>
    <% end %>

  </div>
  <%= render 'sidebar' %>
</div>
